HackIllinois.xcodeproj/project.xcworkspace/xcshareddata/HackIllinois.xcscmblueprint
HackIllinois.xcodeproj/project.xcworkspace/xcuserdata/Hopkins.xcuserdatad/UserInterfaceState.xcuserstate
HackIllinois.xcodeproj/xcuserdata/Hopkins.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
HackIllinois.xcodeproj/xcuserdata/Hopkins.xcuserdatad/xcschemes/HackIllinois.xcscheme
HackIllinois.xcodeproj/xcuserdata/Hopkins.xcuserdatad/xcschemes/HackIllinoisSafariExtensionCompanion.xcscheme
HackIllinois.xcodeproj/xcuserdata/Hopkins.xcuserdatad/xcschemes/xcschememanagement.plist
HackIllinois/Assets.xcassets/test_profile.dataset/Contents.json
HackIllinois/Assets.xcassets/test_profile.dataset/test_profile.json